# VSCode
.vscode/

# Node modules
node_modules/

# Build files
dist/
build/

# Logs
logs/
*.log
npm-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.production
backend/.env
frontend/.env

# Coverage
coverage/

# OS files
.DS_Store
Thumbs.db

# IDE files
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?